@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

* {
    font-family: "Google Sans Flex", sans-serif;    
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(87deg, #ECE9E6, #FFFFFF 100%) !important;
}
