<div class="d-flex flex-column justify-content-center align-items-center min-vh-100 p-3">
  <div *ngIf="!isChildRouteActive" class="text-center mb-4">
    <h1 class="text-success fw-semibold">Escolha a operadora</h1>
    Selecione a operadora para visualizar os planos dispon
  </div>
  <div class="d-flex gap-4">
    <app-seletor-operadora
      operatorName="Innova"
      operatorDescription="Planos Essencial III e IV com cobertura em Porto Velho/RO"
    >
    </app-seletor-operadora>
    <app-seletor-operadora
      operatorName="Unimed Asper"
      operatorDescription="UNIFLEX, UNIFÁCIL, UNIPLUS e Nacional"
    ></app-seletor-operadora>
    <app-seletor-operadora
      operatorName="Salv Saúde"
      operatorDescription="Ideal I e II com diferentes coparticipações"
    ></app-seletor-operadora>
    <app-seletor-operadora
      operatorName="Plano A - Select"
      operatorDescription="Planos para servidores públicos e profissionais liberais"
    ></app-seletor-operadora>
  </div>
  <app-buttons
    *ngIf="!isChildRouteActive"
    routerLink="/iniciar-cotacao"
    titleButton="Voltar"
    classButton="btn-outline-danger m-3"
    >Voltar</app-buttons
  >
</div>
