<button class="btn btn-sm btn-outline-secondary" routerLink="/">Voltar</button>
<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card p-4 p-md-5 border rounded text-center">
    <h3 class="fw-semibold text-dark mb-2">Cotação de Plano de Saúde - Pessoa Física</h3>
    <p class="mb-4">Preencha os dados do cliente para iniciar a cotação</p>

    <div class="form-section bg-whites rounded mb-4 text-start">
      <div class="mb-3">
        <label for="nomeCompleto" class="form-label small fw-semibold">Nome Completo</label>
        <input type="text" class="form-control" id="nomeCompleto" placeholder="Digite o nome" />
      </div>
      <div class="mb-3">
        <label for="telefone" class="form-labe small fw-semibold">Telefone</label>
        <input type="tel" class="form-control" id="telefone" placeholder="(00) 00000-0000" />
      </div>
      <div class="mb-0">
        <label for="idade" class="form-label small fw-semibold">Idade</label>
        <input type="number" class="form-control" id="idade" placeholder="Digite a idade" />
      </div>
    </div>

    <div class="d-grid mb-4">
      <button class="btn btn-sm btn-outline-secondary p-2">Adicionar mais um pessoa</button>
    </div>

    <div class="d-grid">
      <button class="btn btn-success p-2">Buscar planos disponíveis</button>
    </div>
  </div>
</div>
